h1,
p {
  font-family: Lato;
}

input.invalid {
  background-color: rgb(247, 144, 144);
  border: solid 1px red;
}
.valid-error label {
  color: red;
}

.line {
  height: 1px;
  width: 100%;
  border: solid 1px #000;
  margin: 10px 0;
}
